#headshotimage{
    width:250px;
    height:250px;
}

#githubimage{
    width:50px;
    height:50px;
    margin:10px;
}

#linkedinimage{
    width:50px;
    height:50px;
}

#stackoverflowimage{
    width:50px;
    height:50px;
}